html{
  width:100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
  user-zoom: fixed;
}

body{
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 89% 10%;
  grid-template-rows: 79% 20%;
  grid-template-areas:
    "graph toolBar"
    "tape tape";

  user-select: none;
  overflow:hidden;
  position: fixed;
  width:100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
}

#graph{
  grid-area: 'graph';
  width:100%;
  height: 100%;
}

#graph svg{
  width:100%;
  height: 100%;
  border: 2px solid #bbb;
}

#toolBar{
  grid-area: 'toolBar';
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#toolBar div{
  flex: 1;
  border: 0px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#toolBar div.selected{
  border-radius: 5px;
  background-color: #eee;
}

#tape{
  grid-area: 'tape';
  width:100%;
  height: 100%;
  border: 2px solid #eee;
}

#tape .cell{
  display: inline-block;
  min-height: 90%;
  height: 90%;
  width: 90px;
  border: 2px solid #eee;
  margin: 2px;
}

.node circle{
  stroke: black;
  stroke-width: 2px;
  fill: #fff;
}

.node.selected circle{
  stroke: red;
}

.edge{
  stroke: black;
  stroke-width: 2px;
  marker-end:url(#arrowHead);
}

.edgeInCreation{
  stroke: #333;
  stroke-width: 1px;
  marker-end:url(#arrowHead);
}
