root{
  --cell-tape-width: 90px;
}

html{
  width:100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
  user-zoom: fixed;
}

svg{overflow: visible;}

body{
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 2px auto 100px 2px;
  grid-template-rows: 25px auto 100px 2px;
  grid-template-areas:
    "menu menu menu menu"
    ". graph toolBar ."
    ". tape tmButtons ."
    ". . . .";

  user-select: none;
  overflow:hidden;
  position: fixed;
  width:100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
}

#menu{
  grid-area: menu;
}

#turingMachineButton{
  grid-area: tmButtons;
  width:100%;
  height: 100%;
}

#graph{
  grid-area: graph;
  width:100%;
  height: 100%;
}

#graph svg{
  width:100%;
  height: 100%;
  border: 2px solid #bbb;
}

#toolBar{
  grid-area: toolBar;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#toolBar div{
  flex: 1;
  border: 0px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#toolBar div.selected{
  border-radius: 5px;
  background-color: #eee;
}

#tapeHolder{
  grid-area: tape;
  width: 100%;
  height: 100%;
  border: 2px solid #aaa;
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
}

#tape{
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  height: 99%;
  background-color: #eee;
  overflow: hidden;
  z-index: 500;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#tape .cell{
  display: inline-block;
  min-height: 90%;
  max-height: 96%;
  width: 90px;
  border: 2px solid #aaa;
  box-sizing: border-box;
  margin-right: 2px;
  margin-left: 2px;
  overflow: hidden
}

#tape .cell input[type=text]{
  min-width: 90px;
  max-width: 90px;
  border: none;
  background-color: #bbb;
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#tape .cell input[type=text]:hover{
  background-color: #ccc;
}

#head{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  z-index: 1000;
}

.node circle{
  stroke: black;
  stroke-width: 2px;
  fill: #fff;
}

.node.start circle{
  stroke: green;
}

.node.final circle{
  filter: url(#dilate);
}

.node.selected circle{
  filter:url(#outline);
}

.node.closestNode circle{
  filter:url(#outline);
}

.node.move circle{
  filter:url(#blur);
}

.edge path{
  fill: none;
  stroke: black;
  stroke-width: 2px;
  marker-end:url(#arrowHead);
}

.edge rect{
  fill: white;
  fill-opacity: 0;
}

.edge text{
  text-anchor: middle;
}

.edge.selected path{
  stroke: blue;
  marker-end:url(#arrowHeadSelected);
}

.edgeInCreation{
  stroke: #333;
  stroke-width: 1px;
  marker-end:url(#arrowHead);
}

.EdgeEditor{
   z-index: 3000;
  position: absolute;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  top: 40%;
  left:40%;
  height:160px;
  width:400px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "readTag readEntry"
    "writeTag writeEntry"
    "dirTag dirEntry"
    "submitButton cancelButton";
}

.EdgeEditor div{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EdgeEditor .button{
  background: #34c9eb;
  border-radius: 25px;
  padding: 5px;
}

.EdgeEditor .button:hover{
  background: #2fb5d4;
}

.EdgeEditor .dirEntryButton{
  background: white;
  margin: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 2px solid grey;
}

.EdgeEditor .dirEntryButton div{
  min-width: 30px;
}

.EdgeEditor .dirEntryButton .selected{
  background: grey;
}

.NodeEditor{
  z-index: 3000;
  position: absolute;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  top: 40%;
  left:40%;
  height:60px;
  width:200px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 30px 30px;
}
